@model register.ViewModels.UsersViewModel

<h1>Welcome the DB</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Birthdate</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  @foreach (var user in Model.Users)
  {
    <tbody>
        <tr>
        <td>@user.Fullname</td>
        <td>@user.Birthdate</td>
        <td>@user.Username</td>
        <td>@user.Email</td>
        <td>@user.Phone</td>
        </tr>
    </tbody>     
  }
</table>